body {font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;  
  }
div.div1 {
    border:2px solid black;
    width:300px;
    height:700px;
    left:4%;
    margin-top:50px;
    padding:15px;
    position:absolute
}
div.div2 {
    border:2px solid black;
    width:300px;
    height:700px;
    left:28%;
    margin-top:50px;
    padding:15px;
    position:absolute;
}
div.div3 {
    border:2px solid black;
    width:300px;
    height:700px;
    left:52%;
    margin-top:50px;
    padding:15px;
    position:absolute
}
div.div4 {
    border:2px solid black;
    width:300px;
    height:700px;
    left:76%;
    margin-top:50px;
    padding:15px;
    position:absolute
}