
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding:50px;
    column-gap: 60px;
    grid-template-rows: 525px;
  
}

.grid-item {
    border:2px solid black;
    padding:10px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

   

}
